<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ partial "site-style.html" . }}
    {{ partial "site-favicon.html" . }}
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  </head>
  <body class="ma0 {{ $.Param "body_classes" | compare.Default "avenir bg-near-white"}}">
    {{ partial "site-header.html" . }}
    <main class="pb7" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "site-footer.html" . }}
  </body>
</html>